:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #75d6f3;
  --tertiary-background-color: #a4ebf3;
  --quadinary-background-color: #cab8ff;

  --primary-text-color: #2d4059;
  --secondary-text-color: #301b3f;
  --tertiary-text-color: #056674;
  --quadinary-text-color: #f34660;
  --other-text-color: #3f4d4f;

  --primary-padding: 140px;
  --secondary-padding: 8px;

  --shadow-color: 18;
  --shadow-key-umbra-opacity: 0.2;
  --shadow-key-penumbra-opacity: 0.14;
  --shadow-ambient-shadow-opacity: 0.12;

  --default-border-radius: 4px;
  --nav-height: 4rem;

  --shadow-2dp: 0 2px 2px 0
      rgba(
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-key-penumbra-opacity)
      ),
    0 3px 1px -2px rgba(var(--shadow-color), var(--shadow-color), var(--shadow-color), var(--shadow-key-umbra-opacity)),
    0 1px 5px 0
      rgba(
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-ambient-shadow-opacity)
      );

  --shadow-8dp: 0 8px 10px 1px
      rgba(
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-key-umbra-opacity)
      ),
    0 3px 14px 2px
      rgba(
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-color),
        var(--shadow-key-umbra-opacity)
      ),
    0 5px 5px -3px rgba(var(--shadow-color), var(--shadow-color), var(--shadow-color), var(--shadow-ambient-shadow-opacity));
  --display-color1: black;
  --display-color2: #f34660;
}

.dark-theme {
  /* --primary-background-color: #1a1a40; */
  --primary-background-color: hsl(210, 25%, 25%);
  --secondary-background-color: hsl(210, 40%, 40%);
  --tertiary-background-color: hsl(210, 45%, 45%);
  --quadinary-background-color: hsl(210, 55%, 55%);

  /* --primary-text-color: #fcffa6; */
  --primary-text-color: #eeeeee;
  --secondary-text-color: #ffd369;
  --tertiary-text-color: #ffaf54;
  --quadinary-text-color: #76edff;
  --other-text-color: #feffef;
  --display-color1: gold;
  --display-color2: white;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--secondary-background-color);
  margin: auto;
}

h1 {
  font-size: 3rem;
  color: var(--primary-text-color);
}

h2 {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}

h3 {
  font-size: 1.1rem;
  font-weight: normal;
  color: var(--tertiary-text-color);
}

p,
li {
  font-size: 0.9rem;
  line-height: 1.3;
  color: var(--other-text-color);
  font-weight: 370;
}

a {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--tertiary-text-color);
}

.display-1 {
  font-size: 7rem !important;
  color: var(--display-color1);
}

.display-2 {
  font-size: 4rem !important;
  color: var(--display-color2) !important;
}

/* NAVBAR */

nav {
  /* font-size: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: var(--shadow-2dp);
  z-index: 100;
}

nav .navbar {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--secondary-padding) var(--primary-padding);
}

nav .nav-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* Nav Item */
nav .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

nav .nav-item:hover {
  cursor: pointer;
}

/* Link */
nav .nav-link {
  text-decoration: none;
  padding: 3px 0;
  text-align: center;
  margin-right: 8px;
  color: var(--primary-text-color);
}

nav .nav-link:hover {
  text-decoration: underline;
}

nav .theme-selector {
  color: var(--other-text-color);
}

/* Main */

main {
  margin-top: var(--nav-height);
}

/* SECTIONS */

/* Home section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  position: relative;
}

#home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: calc(100vh - var(--nav-height));
  width: 100%;
  opacity: 1;
}

.introduction-container {
  width: 100%;
}

.intro-image-container {
  display: none;
  width: 200px;
  filter: grayscale();
  box-shadow: var(--shadow-2dp);
}

#skills,
#about,
footer {
  background-color: var(--primary-background-color);
}

.skills-container .frontend,
.backend,
.tools {
  margin-bottom: var(--nav-height);
}

#skills h2 {
  text-transform: capitalize;
}

#skills .domain-skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

#skills .skill-card {
  /* background-color: var(--primary-background-color); */
  /* color: var(--primary-background-color); */
  /* box-shadow: var(--shadow-2dp); */
  border-radius: var(--default-border-radius);
  padding: 12px;
}

#skills .skill-card img {
  /* filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.531)); */
  height: 4.5rem;
}

/* Projects */

#projects .projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--default-border-radius);
  background-color: var(--primary-background-color);
  box-shadow: var(--shadow-2dp);
  max-width: 350px;
}

.project-card:hover {
  box-shadow: var(--shadow-8dp);
}

.project-card .card-body-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.project-card img {
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
  width: 100%;
  max-width: 350px;
  min-width: 280px;
}

.project-card .card-links {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  margin-top: auto;
}

.project-card .card-links .btn {
  padding: 6px 12px;
  width: 100%;
}

.project-card-body {
  margin: 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-content: space-between;
  text-align: left;
  height: 100%;
}

/* About */

footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

footer.container i {
  font-size: 1.2rem;
}

.container {
  max-width: 1920px;
  padding: var(--nav-height) var(--primary-padding);
  text-align: center;
}

.container h1 {
  margin-bottom: var(--nav-height);
  color: var(--secondary-text-color);
  position: relative;
}

/* Dotted Pattern */
.pattern-dots-sm {
  background-image: radial-gradient(
    var(--primary-text-color) 0.4px,
    transparent 0.4px
  );
  background-size: calc(40 * 0.4px) calc(40 * 0.4px);
}

.hidden {
  display: none;
}

/* FLEX */

/* BUTTON */

.btn {
  display: block;
  text-decoration: none;
  background-color: var(--primary-background-color);
  padding: 8px 12px;
  text-align: center;

  color: var(--primary-text-color);
  box-shadow: var(--shadow-2dp);
  border: 1px solid var(--primary-text-color);
  font-size: 1rem;
  border-radius: var(--default-border-radius);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-text-color);
  color: var(--primary-background-color);
}

.btn:active {
  scale: 0.9;
}

/* FORM */

.form-style {
  background-color: var(--primary-background-color);
  text-align: left;
  margin: 10px auto;
  max-width: 400px;
  padding: 22px 15px;
  box-shadow: var(--shadow-2dp);

  border-radius: var(--default-border-radius);
}

.form-style * {
  font-size: 0.85rem;
}

.form-style li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style input,
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 8px;
  margin: 0px;
  outline: none;
  border-radius: var(--default-border-radius);
  background-color: inherit;
  color: var(--other-text-color);
}
.form-style input:focus,
.form-style textarea:focus,
.form-style select:focus {
  border: 1px solid var(--tertiary-text-color);
}
.form-style .field-divided {
  width: 49%;
}

.form-style .field-long {
  width: 100%;
}
.form-style .field-select {
  width: 100%;
}
.form-style .field-textarea {
  height: 100px;
}

.form-style .required {
  color: var(--quadinary-text-color);
}

/* Responsive */

@media screen and (max-width: 1000px) {
  :root {
    --primary-padding: 50px;
    --secondary-padding: 8px;
  }

  .navbar .nav-container:nth-child(2) {
    display: none;
  }

  .navbar .hamburger {
    display: block !important;
  }

  #skills .skill-card img {
    height: 3rem;
  }

  #home .intro-image-container {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  :root {
    --primary-padding: 20px;
    --secondary-padding: 8px;

    --default-border-radius: 3px;
    --nav-height: 3rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .display-1 {
    font-size: 5rem !important;
  }

  .display-2 {
    font-size: 3rem !important;
    color: var(--quadinary-text-color) !important;
  }
}

@media screen and (max-width: 380px) {
  :root {
    --primary-padding: 8px;
    --secondary-padding: 8px;

    --default-border-radius: 2px;
    --nav-height: 2rem;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2;
  }

  .display-1 {
    font-size: 4rem !important;
  }

  .display-2 {
    font-size: 2rem !important;
    color: var(--quadinary-text-color) !important;
  }
}
