:root {
  --primary-color: #fcffa6;
  --secondary-color: #c1ffd7;
  --tertiary-color: #b5deff;
  --quadinary-color: #cab8ff;

  --primary-text-color: #1a1a40;
  --secondary-text-color: #270082;
  --tertiary-text-color: #7a0bc0;
  --quadinary-text-color: #fa58b6;

  --primary-padding: 200px;
  --secondary-padding: 8px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

body {
  width: 100%;
  background-color: var(--primary-color);

  color: var(--primary-text-color);
}

.dark-theme {
  --primary-color: #1a1a40;
  --secondary-color: #270082;
  --tertiary-color: #7a0bc0;
  --quadinary-color: #fa58b6;

  --primary-text-color: #fcffa6;
  --secondary-text-color: #c1ffd7;
  --tertiary-text-color: #b5deff;
  --quadinary-text-color: #cab8ff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--secondary-padding) var(--primary-padding);
  border-bottom: 1px solid var(--primary-text-color);
  background-color: var(--primary-color);
  backdrop-filter: blur(15px);
  z-index: 100;
}

nav > .nav-container {
  display: flex;
  flex-direction: row;
}

nav > .nav-container > .nav-link {
  text-decoration: none;
  background-color: var(--secondary-color);
  width: 80px;
  padding: 3px 0;
  text-align: center;
  margin-right: 8px;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

nav > .nav-container > .nav-link:hover {
  background-color: var(--tertiary-color);
}

nav > .nav-container > .nav-link:focus {
  width: 80px;
  transform: scale(0.9);
  background-color: var(--tertiary-color);
}

main {
  margin-top: 46px;
}

section#home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.introduction-container {
  text-align: left;
}

.introduction-container h5 {
  font-size: 7rem;
}

.introduction-container p {
  font-size: 4rem;
}

.intro-image-container {
  /* display: none; */
  border: 1px solid var(--primary-text-color);
  height: 300px;
  -webkit-filter: sepia();
}

section#skills,
section#about,
footer {
  /* background-color: var(--secondary-color); */
}

section#skills .skills-container .frontend,
.backend,
.tools {
  /* background-color: var(--secondary-color);
  border: 1px solid var(--primary-text-color); */
  padding: 20px;
  margin-bottom: 46px;
}

section#skills .skills-container .frontend,
.backend {
  border-bottom: 1px solid var(--primary-text-color);
}

section#skills .domain-skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  /* border: 1px solid black; */
  margin-top: 32px;
  margin-bottom: 32px;
}

section#skills .skill-card img {
  filter: drop-shadow(0 0 0.07rem var(--primary-text-color));
}

section#projects .projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.project-card {
  border: 1px solid var(--primary-text-color);
  padding-bottom: 12px;
  background-color: var(--primary-color);
}

.project-card img {
  height: 200px;
}

.project-card .project-card-body {
}

.project-card .card-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-card .card-links a {
  display: block;
  text-decoration: none;
  background-color: var(--secondary-color);
  width: 80px;
  padding: 1px 0px;
  text-align: center;
  margin-right: 8px;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.project-card .card-links a:hover {
  background-color: var(--tertiary-color);
}

.project-card .card-links a:focus {
  transform: scale(0.9);
  background-color: var(--tertiary-color);
}

.project-card-body {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

footer.container i {
  font-size: 1.2rem;
}

.container {
  padding: 40px var(--primary-padding);
  text-align: center;
  /* border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color); */
}

.container h1 {
  margin-bottom: 40px;
  text-decoration: underline;
}

.shadow {
  box-shadow: 2px 2px 0 var(--primary-text-color);
}

.big-shadow {
  box-shadow: 4px 4px 0 var(--primary-text-color);
}

.pattern-dots-sm {
  background-image: radial-gradient(currentColor 0.5px, transparent 0.5px);
  background-size: calc(10 * 0.5px) calc(10 * 0.5px);
}
